USE [IndigoFusion]
GO
/****** Object:  Table [dbo].[AdminEntities]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminEntities](
	[Shops] [int] NULL,
	[Gmail] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AmbassadorEntity]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmbassadorEntity](
	[Fare] [float] NOT NULL,
	[Gmail] [nvarchar](50) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[Sales] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillHistory]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillHistory](
	[Gmail] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Date] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Feedback] [nvarchar](max) NULL,
	[TotalProductsPurchased] [int] NULL,
	[TotalAmountSpend] [float] NULL,
	[Gmail] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Salary] [float] NOT NULL,
	[OwnerGmail] [nvarchar](50) NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerEntities]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerEntities](
	[Announcement] [nvarchar](max) NULL,
	[Salary] [float] NOT NULL,
	[Gmail] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Quantity] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfitOrLoss]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfitOrLoss](
	[Month] [nchar](10) NULL,
	[Year] [nchar](10) NULL,
	[Amount] [nchar](10) NULL,
	[Tax] [nchar](10) NULL,
	[ElectricityBill] [nchar](10) NULL,
	[WaterBill] [nchar](10) NULL,
	[OtherExpenditures] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User1]    Script Date: 5/18/2024 12:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User1](
	[Name] [nvarchar](50) NOT NULL,
	[Gmail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CNIC] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_User1] PRIMARY KEY CLUSTERED 
(
	[Gmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
